/* Added margin, line-height and font-size to give basic unity to site. */

body {
  background-color: rgb(76, 206, 195);
  margin-left: 200px;
  margin-right: 200px;
  line-height: 1.6em;
  font-size: 20px;
}

/*main header*/

.header-container {
  background-color: white;
  height: 150px;
  width: 100%;
  margin-right: -5px;
  margin-left: -199px;
  /*border: solid 15px;*/
  position: fixed;
  top: 0;
}

/*Pics at the top of page*/

#lama-pic {
  margin-top: 65px;
  margin-left: 418px;
}

#tireddog-pic {
  margin-top: -179px;
  margin-left: 574px;
}

#dogteeth-pic {
  margin-top: -178px;
  margin-left: 732px;
}

#ambulance-pic {
  position: fixed;
  margin-top: -110px;
  margin-left: 1300px;
}

/*Help is on the way*/

#helpontheway {
  color: white;
  margin-left: 1098px;
  margin-top: -45px;
  padding-left: 15px;
  font-weight: bold;
}

/*This is the cat logo css */

#cat-logo {
  margin-top: 30px;
  margin-left: 50px;
}

/*This is the css for the company's name */

#angry-animals {
  color: rgb(76, 206, 195);
  margin-top: -75px;
  margin-left: 115px;
  font-weight: bolder;
  font-size: 20px;
}

#angry-animals2 {
  color: rgb(76, 206, 195);
  margin-left: 115px;
  margin-top: -28px;

  font-weight: bolder;
  font-size: 20px;
}

/*This is the navigation bar css */

#top-nav-bar {
  position: fixed;
  margin-left: 850px;
  margin-top: -100px;
  padding-top: 40px;
}

/*This is the css for the navigation bar links */

a {
  color: coral;

  padding-right: 40px;

  text-decoration: none;

  font-weight: bold;
}

#navlink2 {
  color: cornflowerblue;
}

#navlink3 {
  color: rgb(64, 165, 64);
}

/*header messages*/

.header {
  display: flex;
  justify-content: center;
}

#header-message {
  display: flex;
  color: white;
  margin-top: 200px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  background-color: cornflowerblue;
  position: relative;
  width: 810px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 80px;
  border: solid 5px white;
}

#header-message2 {
  display: flex;
  color: coral;
  margin-top: -10px;
  margin-left: -50px;
  text-align: center;
  justify-content: center;
}

/*This is the div container for the slideshow*/

.slider {
  width: 795px;
  height: 315px;
  display: flex;
  overflow-x: auto;
  margin-top: 50px;
  margin-left: 83px;
  padding-left: -1px;
  border-top: solid 10px grey;
  border-left: solid 10px grey;
}

/*This is the css for the slideshow slider bar*/

.slide {
  width: 560px;
  flex-shrink: 0;
  height: 100%;
  padding-right: -45px;
}

/*These are the flex boxes */

.container-for3boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
  margin-bottom: 60px;
}

.container-for3boxes > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 220px;
  border: rgba(0, 0, 0, 0);
  border-radius: 15px;
}

.container-box1 {
  background-color: coral;
}

.container-box2 {
  background-color: cornflowerblue;
}

.container-box3 {
  background-color: rgb(64, 165, 64);
}

.box1 {
  background-color: cornsilk;
  background-image: url(/img-blog/sheep-1822137_1920.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  display: flex;
  /*justify-content: center;
  align-items: flex-end;*/
}

.box2 {
  background-color: rgb(193, 216, 247);
  background-image: url(/img-blog/cat-g16994ab48_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

.box3 {
  background-color: rgb(184, 233, 184);
  background-image: url(/img-blog/cat-5836297_1920.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

/*This is the bottom navigation bar css */

#bottom-nav-bar {
  margin-left: 410px;
  margin-top: 145px;
}

#contact-us {
  color: blue;
}

/*Contact form*/

.contact-info {
  text-align: left;
  color: white;
  margin-top: 50px;
  padding-bottom: 20px;
}

/* CSS specific to blog1.html page */

.blog-container {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
}

.blog-container > div {
  margin-bottom: 50px;
  width: 30%;
  padding: 10px;
}

/*email contact form styling*/

.email-form {
  margin-bottom: 40px;
  height: 25px;
}

/*Therapist Page Intro Styling*/
.text1 {
  display: flex;
  color: white;
  font-size: 25px;
  width: 700px;
  justify-content: center;
  text-align: center;
}

.img0 {
  display: flex;
  position: relative;
  width: 100px;
  right: 300px;
  top: 70px;
}

.img0b {
  display: flex;
  position: relative;
  width: 100px;
  left: 250px;
  top: -70px;
}

/*Therapists gallery*/

.flexbox1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  gap: 2%;
}

.therapists {
  display: flex;
  position: relative;
  width: 20%;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: white;
  transition: 0.3s;
}

.therapists:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
