<<<<<<< HEAD



/* This is the sample body background color */

body {

background-color: teal;
}




/*This is the cat logo css */

#cat-logo  {

    margin-top: 40px;
    margin-left: 30px;
}




/*This is the css for the company's name */

#angry-animals {

    color: white;
    margin-top: -70px ;
    margin-left: 95px;
    font-weight: bolder;
    font-size: 20px;
    font-style: text-transform;
}


#angry-animals2 {

    color: white;
    margin-left: 110px ;
    margin-top: -20px;
    font-weight: bolder;
    font-size: 20px;
}



/*This is the navigation bar css */

#top-nav-bar {

    
    margin-left: 900px;
    margin-top: -60px;
    overscroll-behavior: contain;
}



/*This is the css for the navigation bar links */

a {

    color: white;

    padding-right: 75px;
    
    text-decoration: none;

    font-weight: bold;
}




/*This is the div container for the slideshow*/


.slider {
    width: 300px;
    height: 240px;
    display: flex;
    overflow-x: auto;
    margin-top: 100px;
    margin-left: 440px;
    
  }


  
  
  /*This is the css for the slideshow slider bar*/
  
  .slide {
    width: 205px;
    flex-shrink: 0;
    height: 100%;
    text-align: right;
    
}

=======
.container-for3boxes {
  display: flex;
  justify-content: space-evenly;
}

.container-for3boxes > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 20%;
  height: 250px;
}
>>>>>>> ffb59a2e5a67e2271a2e6b652a7c1f51c4dbabf8
