/* Added margin, line-height and font-size to give basic unity to site. */
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(76, 206, 195);
  /*line-height: 1.6em;*/
  font-size: 20px;
}

/*main header*/

.header-container {
  background-color: white;
  height: 150px;
  width: 100%;
  /*margin-right: -5px;
  margin-left: -199px;*/
  /*border: solid 15px;*/
  position: fixed;
  top: 0;
  /*left: 0;*/
  /* new 12-29-21 below */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo-container {
  display: flex;
}

#cat-logo {
  /*margin-top: 30px;*/
  margin-left: 9%;
}

#angry {
  color: coral;
}

#angry-animals {
  color: cornflowerblue;
  /*margin-top: -75px;*/
  /*margin-left: 115px;*/
  margin-top: 10%;
  /*margin-left: 2%;*/
  font-weight: bolder;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

/* Pics at the top of page

#lama-pic {
  margin-top: 65px;
  margin-left: 418px;
}

#tireddog-pic {
  margin-top: -179px;
  margin-left: 574px;
}

#dogteeth-pic {
  margin-top: -178px;
  margin-left: 732px;
}
*/

/*Help is on the way*/

.helpontheway-container {
  display: flex;
  align-items: flex-end;
  margin-right: 5%;
}

#helpontheway {
  color: black;
  /*margin-top: -45px;*/
  /*padding-left: 15px;*/
  font-weight: bold;
}

/*#ambulance-pic {
  /*position: fixed;*/
/*margin-top: -110px;*/
/*margin-left: 1300px;
}*/

/*
#angry-animals2 {
  color: rgb(76, 206, 195);
  /*margin-left: 115px;
  margin-top: -28px; 
  font-weight: bolder;
  font-size: 20px;
}
/*


/*This is the navigation bar css */

/*This is the css for the navigation bar links */

a {
  color: coral;
  font-size: 20px;
  padding-right: 30px;
  text-decoration: none;
  font-weight: bold;
}

#navlink2 {
  color: cornflowerblue;
}

#navlink3 {
  color: rgb(64, 165, 64);
}

/*header messages*/

.header {
  display: flex;
  justify-content: center;
}

#header-message {
  display: flex;
  color: white;
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  background-color: cornflowerblue;
  position: relative;
  width: 810px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 80px;
  border: solid 5px white;
}

#header-message2 {
  display: flex;
  color: coral;
  margin-top: -10px;
  margin-left: -50px;
  text-align: center;
  justify-content: center;
}

/*This is the div container for the slideshow*/

.slider {
  width: 1200px;
  height: 400px;

  display: flex;
  overflow-x: auto;
  margin-top: 220px;
  margin-left: -83px;
  padding-left: -1px;
  /*border-top: solid 10px grey;
  border-left: solid 10px grey;*/
}

/*This is the css for the slideshow slider bar*/

.slide {
  width: 1200px;
  /*flex-shrink: 0;*/
  height: 400px;
  /*padding-right: -45px;*/
}

/*These are the flex boxes */

.container-for3boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
  margin-bottom: 60px;
}

.container-for3boxes > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 220px;
  border: rgba(0, 0, 0, 0);
  /*border-radius: 15px;*/
}

.container-box1 {
  background-color: coral;
}

.container-box2 {
  background-color: cornflowerblue;
}

.container-box3 {
  background-color: rgb(64, 165, 64);
}

.box1 {
  background-color: cornsilk;
  background-image: url(/img-blog/sheep-1822137_1920.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  display: flex;
}

.box1 > a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.box2 {
  background-color: rgb(193, 216, 247);
  background-image: url(/img-blog/cat-g16994ab48_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  display: flex;
}

.box2 > a {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.box3 {
  background-color: rgb(184, 233, 184);
  background-image: url(/img-blog/cat-5836297_1920.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  display: flex;
}

.box3 > a {
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

/*This is the bottom navigation bar css */

#bottom-nav-bar {
  margin-left: 410px;
  margin-top: 145px;
}

#contact-us {
  color: blue;
}

/*Contact form*/

.contact-info {
  text-align: left;
  color: white;
  margin-top: 50px;
  padding-bottom: 20px;
}

/* CSS specific to blog1.html page */

.blog-container {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
}

.blog-container > div {
  margin-bottom: 20px;
  width: 30%;
  padding: 10px;
}

/*email contact form styling*/

.email-form {
  margin-bottom: 40px;
  height: 25px;
}

/*Therapist Page Intro Styling*/
.text1 {
  display: flex;
  color: white;
  font-size: 25px;
  width: 700px;
  justify-content: center;
  text-align: center;
}

.img0 {
  display: flex;
  position: relative;
  width: 10%;
  height: 100px;
  right: -110px;
  top: -25px;
}

.img0b {
  display: flex;
  position: relative;
  width: 10%;
  height: 100px;
  left: -170px;
  top: 90px;
}

/*Therapists gallery*/

.flexbox1 {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 1000px;
  gap: 2%;
}

.therapists {
  display: flex;
  position: relative;
  width: 30%;
}

.image {
  display: block;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: white;
  transition: 0.3s;
}

.therapists:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*More Therapist Info*/

#anchorjump {
  display: flex;
  color: white;
  font-size: 17px;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 7px;
  margin-top: 7px;
}

.table0a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table0 {
  display: flex;
  gap: 5%;
  flex-direction: row;
  width: 67%;
  margin-top: 225px;
}

.table1 {
  display: flex;
  /*width: 75%;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /*margin-top: 250px;*/
  flex-grow: 1;
  /*left: 50px;*/
}

.table2 {
  display: flex;
  /*width: 610px;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /*margin-top: 250px;*/
  flex-grow: 1;
  /*right: 50px;*/
}

.tableform {
  display: flex;
  /*height: 75px;*/
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: solid 3px coral;
  background-color: cornflowerblue;
  font-size: 5px;
  line-height: 30px;
  flex-direction: row;
  flex-grow: 1;
}

.tablestyling {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
}

.spanstyle {
  display: flex;
  color: coral;
  font-size: 10px;
  width: 100%;
  flex-direction: row;
  position: relative;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 0, 5, auto;
}

.spanstyle2 {
  color: white;
}

.tableform:hover {
  transform: scale(1.04);
}

/*Form Styling*/
